<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <title>Zen Notes</title>
    <link rel="stylesheet" href="css/style-main.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <h1>Zen Notes</h1>

            <ul>
            <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'><i class="fa-solid fa-circle-minus"></i></span>
                </li>
            <% }) %>    
            </ul>

            <h2 class="total-notes">Total notes: <%= left %></h2>
            <div class="form">
                <form action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter Note" name='todoItem' class="enter-note">
                    <input type="submit" value="Add Note" class="form-submit-button">
                </form>
            </div>

        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>